@media only screen and (min-width: 767px) {
    /* For mobile phones: */
    .container {
        margin: 10rem;
    }
}

.ng-valid[required],
.ng-valid.required {
    border-left: 3px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 3px solid #a94442;
    /* red */
}

.alert div {
    background-color: #fed3d3;
    color: #820000;
    padding: 1rem;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}