<div class="container">
    <div class="card w-full lg:w-6/12 bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title">Add New Employee</h2>
            <form class="card-body" [formGroup]="newEmpForm" (ngSubmit)="onSubmit()">
                <div class="flex flex-row gap-y-px">
                    <!-- first name -->
                    <div class="basis-1/2 mr-2">
                        <input type="text" placeholder="first name" formControlName="first_name" class="input input-bordered w-full" required />
                    </div>
                    <!-- last name -->
                    <div class="basis-1/2 ml-2">
                        <input type="text" placeholder="last name" formControlName="last_name" class="input input-bordered w-full" required />
                    </div>
                </div>

                <!-- email -->
                <div class="basis-1/2">
                    <input type="email" placeholder="last name" formControlName="email" class="input input-bordered w-full" required />
                </div>

                <!-- contact no. -->
                <div class="basis-1/2">
                    <input type="number" placeholder="last name" formControlName="contactNo" class="input input-bordered w-full" required />
                </div>

                <!-- role -->
                <select class="select select-bordered w-full max-w-xs" formControlName="emp_role">
                    <option disabled selected>Who shot first?</option>
                    <option>Han Solo</option>
                    <option>Greedo</option>
                  </select>

                <!-- start date -->
                <div class="basis-1/2">
                    <input type="text" placeholder="last name" formControlName="lastName" class="input input-bordered w-full" required />
                </div>

                <div class="card-actions justify-end">
                    <button class="btn btn-primary">Done</button>
                </div>
            </form>
        </div>
    </div>
</div>