<!-- <div class="row">
    <div class="col-md-6 text-center">
        <img [src]="employee?.imageUrl" class="img-thumbnail" alt="...">
    </div>
    <div class="col-md-6">
        <div class="display-4 text-primary">{{employee?.name | titlecase}}</div>
        <div class="text-muted mt-1">Email: <span class="fw-bold">{{employee?.email}}</span></div>
        <div class="text-muted mt-1">Position: <span class="fw-bold">{{employee?.position | titlecase}}</span></div>
        <div class="text-muted mt-1">Gender: <span class="fw-bold">{{employee?.gender | titlecase}}</span></div>
        <div class="text-muted mt-1">Age: <span class="fw-bold">{{year - birthYear}} years old</span></div>
        <div class="text-muted mt-1">Year Joined: <span class="fw-bold">{{employee?.joinedDate}}</span></div>
    </div>

    <div class="mt-5 text-center">
        <app-action></app-action>
    </div>

</div> -->