<div class="navbar bg-base-200">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" routerLink="/dash">E M S</a>
    </div>
    <div class="flex-none">
        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="../../../assets/user.png" />
          </div>
        </label>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                <li>
                    <a class="justify-between">
             username
            </a>
                </li>
                <li><a (click)="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>