<div class="overflow-x-auto ">
    <table class="table m-20">
        <!-- head -->
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Job</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- row 1 -->
            <tr *ngFor="let e of employees; let i = index">
                <td>{{i + 1}}</td>
                <td>
                    <div class="flex items-center space-x-3">
                        <div class="avatar">
                            <div class="mask mask-squircle w-12 h-12">
                                <img src="../../../assets/user.png" alt="employee photo" />
                            </div>
                        </div>
                        <div>
                            <div class="font-bold">{{e.first_name| titlecase}} {{e.last_name| titlecase}}</div>
                            <div class="text-sm opacity-50">{{e.email}}</div>
                        </div>
                    </div>
                </td>
                <td>
                    {{e.emp_role}}
                </td>
                <td>{{e.emp_status}}</td>
                <th>
                    <button class="btn btn-ghost btn-xs">details</button>
                </th>
            </tr>


    </table>
</div>